aniso8601==8.1.1
cachelib==0.1.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
#flask_mysqldb
Flask==1.1.2
Flask-HTTPAuth==4.2.0
flask-marshmallow==0.14.0
Flask-OAuthlib==0.9.6
Flask-RESTful==0.3.8
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
gunicorn==19.10.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
marshmallow==2.21.0
oauthlib==2.1.0
passlib==1.7.4
#psycopg2==2.8.6
python-decouple==3.4
pytz==2021.1
requests==2.25.1
requests-oauthlib==1.1.0
six==1.15.0
SQLAlchemy==1.3.23
urllib3==1.26.3
Werkzeug==1.0.1
flask_login
ffmpeg-python
mysql
mysqlclient
Flask-MySQLdb
ffmpy
wheel
ffmpeg-python
ffmpeg
Flask-Session
Flask-Caching
Cache
google-cloud-pubsub
google-cloud-storage
mongoengine
flask_mongoengine
python-binary-memcached
pylibmc
newrelic